In [ ]:
# if
# elif
# else

In [ ]:
# nested if else:

# Q2. Write a program to accept percentage from the user and display

In [ ]:
percentage = float(input("enter your percentage"))
if percentage >= 90:
    print("grade A")
elif percentage >= 80:
    print("grade B")
elif percentage >= 70:
    print("grade C")
elif percentage >= 60:
    print("grade d")
elif percentage <= 59:
    print("Fail")
else:
    print("invalid percentage")

# Q3. Accept the age of 4 people and display the youngest one?

In [13]:
name1 = input("enter your name:")
age1 = int(input("enter your age:"))
name2 = input("enter your name:")
age2 = int(input("enter your age:"))
name3 = input("enter your name:")
age3 = int(input("enter your age:"))
name4 = input("enter your name:")
age4 = int((input("enter your age:")))
if age1 < age2 and age1 < age3 and age1 < age4:
    print(f"youngest is {name1} with age {age1}")
if age2 < age1 and age2 < age3 and age2 < age4:
    print(f"youngest is {name2}with age {age2}")
if age3 < age1 and age3 < age2 and age3 < age4:
    print(f"youngest is {name3} with age {age3}")
if age4 < age1 and age4 < age2 and age4 < age3:
    print (f"youngest is {name4} with age {age4}")

enter your name: njss
enter your age: 454
enter your name: kaks
enter your age: 55
enter your name: kjhkh
enter your age: 54
enter your name: klkas
enter your age: 55

youngest is kjhkh with age 54

<!-- # Q4. A company decided to give bonus to employee  
according to following criteria: 
Time period of Service                
More than 10 years                      
Bonus 
>=6 and <=10                                
 10% 
8% 
Less than 6 years                            
5% 
Ask user for their salary and years of service and print the  
net bonus amount? -->

# Q4. A company decided to give bonus to employee  
# according to following criteria: 
# Time period of Service                
# More than 10 years                      
# Bonus 
# >=6 and <=10                                
#  10% 
# 8% 
# Less than 6 years                            
# 5% 
# Ask user for their salary and years of service and print the  
# net bonus amount?

In [15]:
time_duration = float(input("enter how long have you been working in the company:"))
salary = float(input("enter your salary"))

if time_duration > 65:
    print("invalid input")
elif time_duration > 10:
    bonus = (salary*.10)
    print(f"your bonus is {bonus}")
elif time_duration >=6 and time_duration <10 :
    bonus = (salary*.08)
    print(f"your bonus is {bonus}")
else:
    bonus =(salary*0.5)
    print(f"your bonus is {bonus}")

enter how long have you been working in the company: 8
enter your salary 80000

your bonus is 6400.0

In [ ]:
Q5. Accept three numbers from the user and  
display the second largest number?